.vscode
*.o
*.d
cc3k
cc3k.exe
pdfs/design.aux
pdfs/design.fdb_latexmk
pdfs/design.fls
pdfs/design.log
pdfs/design.out
scoreboard.txt
pdfs/design.synctex.gz
demo/demo.synctex.gz
pdfs/design.synctex.gz
demo/demo.log
demo/demo.fls
demo/demo.fdb_latexmk
demo/demo.aux
demo/demo.pdf
ccfloor_output
demo/demo.pdf
